.cache
data
model_data
outputs
wandb
*.o
.DS_Store
.gdb_history
*__pycache__*
*word_embeddings*
*.ipynb_checkpoints*
mezmorize_cache*
train/glue_data
train/superglue_data
train/models
train/runs
train/transformers
train/wandb
train/.ipynb_checkpoints
train/train_sst_2.ipynb
notebooks/wandb
notebooks/.ipynb_checkpoints
